#activistCampaigns .card {
  border-radius: 21px;
}

#mobilizerVictories .card {
  border-radius: 21px;
  color: #8585FF;
}

#activistCampaigns .custom-icon-size{
    border: 3px solid blue;
    border-radius: 50%;
}

#mobilizerVictories .custom-icon-size{
    border: 3px solid #8585FF;
    border-radius: 50%;
}