.VoteInner {
    position: relative;
    bottom: 0;
}

.VoteInner img {
    width: 40px;
}

a.more-btn  {
    margin-left: 0px!important;
    font-family: 'Seravek';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    color: #0000FF
}

.VoteContainer {
    background-image: url("/assets/img/CamapingBg/Profile Info Background.png");
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.according {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.ProfileClubHeader {
    position: absolute;
    background: url("../ProfileAssets/Profile Info Background1.png") ,linear-gradient(rgba(0, 0, 0, 0.34), rgba(0, 0, 0, 0.34));
    background-repeat: no-repeat;
    background-size: cover; 
    min-height: 100vh;
    width: 100%;
}


.voteBtn {
    color: #3333FF;
}


.according .card-header {
    min-height: 106px;
}

.card-2 {
    background-color: #3333FF;
    color: white;

}
.card-1 {
    background: #0000FF;
    color: white;

}

.card-3 {
    background: #6666FF;
    color: white;

}

.card-4 {
    background: #B8B8FF;
    color: white;

}

.card-header button.btn-link {
    color: white!important;

}

.returnIconClub {
    width: 28px;
    height: 28px;
}

.ActiviestName {
    font-family: 'Seravek';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 22px;
text-align: center;

color: #FFFFFF;
}

.navClubBtn {
    background-color: white;
    border-radius: 30px;
    color:#0000FF;
    width: 80px;
    height: 26px;
    border: none;
}

.navP {
    min-height: 97px;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid white;
}

.ActiveBtn {
    color: #0000FF;
}

.bsBtn {
    color: #6666FF;
}

.HeventBtn {
    color: #B8B8FF;
}


.MoreLink {
    font-family: 'Seravek';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-decoration-line: underline!important;
    color: #FFFFFF!important;
}