#findcircle2 #whiteBlueBtn {
  font-size: 18px;
  font-weight: 500;
  line-height: 22.09px;
}

#findcircle2 h2 {
  font-size: 26px;
  font-weight: 700;
  line-height: 28px;
  color: #0000ff;
}

#findcircle2 p {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #0000ff;
}

#findcircle2 small{
  font-size: 15px;
  line-height: 18.4px;
  font-weight: 300 !important;
}

#findcircle2 h4 {
  font-size: 19px;
  font-weight: 700;
  line-height: 25px;
}