#findcircle3 {
  background: linear-gradient(0deg, #ffffff30, blue);
}
#findcircle2 small {
  font-size: 15px;
  line-height: 18.4px;
  font-weight: 300 !important;
}
.learnMore{
  font-family: 'Seravek';
font-style: normal;
font-weight: 800;
font-size: 14px;
line-height: 20px;
text-align: center;
color: #191919;
}
.buttonplay{
  /*margin-top: 107px;*/
}
#findcircle3 {
  min-height: 110vh!important;
}

.feed2 a {
  font-size: 16px;
  font-weight: 400;
  text-decoration: underline;
}

.feed2 {
  bottom: 9% !important;
}
.feed2 video {
  border-radius: 30px;
}

@media screen and (min-width: 600px) {
  .circle-feed-container .feed2 {
    width: 400px!important;
  }
  .circle-feed-container .feedCustom2 {
    width: 400px!important;
  }
}

.feedCustom2 a {
  font-size: 16px;
  font-weight: 400;
  text-decoration: underline;
}

.feedCustom2 {
  bottom: 9% !important;
}
.feedCustom2 video {
  border-radius: 30px;
}

.feedCustom2 {
  position: relative;
  /* overflow: hidden; */
  width: 80%;
  height: unset;
  padding: 0 !important;
  min-height: unset !important;
  scroll-snap-align: start;
  margin: 60px auto;
}
.feedCustom2 video {
  border-radius: 30px;
  height: unset;
}

@media screen and (min-width: 500px) {
  .feedCustom2 {
    position: relative;
    /* overflow: hidden; */
    width: 80%;
    height: 80vh;
    padding: 0 !important;
    min-height: 80vh !important;
    scroll-snap-align: start;
    margin: 60px auto;
  }
  .feedCustom2 video {
    border-radius: 30px;
    height: 100%;
  }
  #findcircle3 {
    min-height: max-content!important;
  }
}

@media screen and (max-width: 350px) {
  .learnMore {
    font-size: 12px;
    padding: 0;
  }
}