#background-video {
  height: 40vh;
  width: auto;
  object-fit: unset;
}

@media screen and (max-width: 800px) {
  #background-video {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.text-box {
  color: blue;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 40px;
}

.text-box p {
  text-align: start;
  font-family: seravek;
  font-style: italic;
}

.text-box h3 {
  color: blue;
  font-family: seravek;
  font-style: italic;
}

.btn-width {
  width: 40%;
}

.custom-font {
  font-family: seravek;
  font-style: italic;
  font-weight: bold;
}

.blue-text {
  color: blue !important;
}
.custom-icon-size {
  width: 50px !important;
  height: 50px !important;
}
@media screen and (max-width: 400px) {
  .btn-width {
    width: 70%;
  }

  #mobilizerVictories .center-div {
    width: 100%;
  }
  #activistCampaigns .center-div {
    width: 100%;
  }
  .custom-icon-size {
    width: 35px !important;
    height: 35px !important;
  }
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.md-icon {
  width: 40px;
  height: 40px;
}
.blue-divider {
  background: blue;
  opacity: unset;
}
.white-divider {
  background-color: white !important;
  opacity: unset;
}
.grey-divider {
  background-color: #a9abad !important;
}
.light-divider {
  background-color: #eeeeee !important;
}

#mobilizerVictories .modal-content {
  background-color: #8585FF !important;
  opacity: 1;
}
#activistCampaigns .modal-content {
  background-color: #0000ff !important;
  opacity: 1;
}

.cardCapsule #mobilizerVictories .modal-content {
  background: linear-gradient(0deg, rgb(162, 174, 241), #0000ffe5) !important;
  opacity: 90%;
}
.cardCapsule #activistCampaigns .modal-content {
  background: linear-gradient(0deg, rgb(162, 174, 241), #0000ffe5) !important;
  opacity: 90%;
}
.text-small,
.text-xsmall {
  font-weight: 100;
}

#supportMobBtn {
  background-color: blue !important;
}

.profil-img {
  width: 100px !important;
  height: 100px;
  object-fit: cover;
}

.next-previous {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding: 10px 20px;
  width: 100%;
}
.next-previous a {
  flex-grow: 1;
}

.progress-bar {
  width: 55%;
  background: blue;
  height: 100%;
}

.progress {
  width: 200px;
  margin: 0 auto;
  background-color: #dcdce9;
}

.fs-14 {
  font-size: 14px !important;
}

.flex-center {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

#campaign-logo,
#victory-logo {
  width: 20px;
  height: 20px;
}

#social-btn-container {
  width: 200px;
  margin: 0 auto;
  display: flex;
}

#social-btn-container div{
  display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.social-btn {
  background-color: blue !important;
  border: unset !important;
  padding: 10px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

#activist-details{
  background: linear-gradient(0deg, white, #a2aef170) !important;
}

#activist-details a {
  color: black!important;
}

#activist-details #activist1 {
  width:150px;
  height: 150px;
}

#activist-details h3{
  font-size: 18px;
  font-weight: 700;
  line-height: 22.09px;
}

#activist-details h5{
  font-size: 12px;
  font-weight: 700;
  line-height: 14.72px;
}

#activist-details h6{
  font-size: 12px;
  font-weight: 700;
  line-height: 14.72px;
}

#activist-details p{
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.white{
  color: white!important;
}


#mobilizerVictories h5 {
  font-size: 25px;
  font-weight: 700;
  line-height: 22px;
}
#activistCampaigns h5 {
  font-size: 25px;
  font-weight: 700;
  line-height: 22px;
}