.echo .input-group input{
    border: unset;
    height: 50px;
    border-radius: 50px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    color: blue;
}

.echo .input-group-append{
    background: white!important;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.echo .input-group-append button{
    background: blue!important;
    color: white!important;
    border-radius: 50px;
    border-top-left-radius: 50px!important;
    border-bottom-left-radius: 50px!important;
    margin-right: 10px;
}

.echo #social-btn-container2 button{
    background-color: white !important;
    color: #6666ff !important;
    border: unset !important;
    font-size: 16px !important;
    font-weight: 700 !important;
    line-height: 15px !important;
}

.echo {
    background: linear-gradient(0deg, #1700fe2b, blue);
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}