.edit-password {
  background: linear-gradient(0deg, white, blue);
}

.edit-password .form-group .label {
  font-size: 14px;
  margin: 0;
  font-weight: 600;
  color: #27173e;
  display: block;
  line-height: 17.18px;
  text-align: center;
}

.edit-password ::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  text-align: center;
}

.edit-password button {
  width: 102px;
  height: 36px;
  border-radius: 50px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17.18px;
}

.edit-password .form-group.boxed .form-control {
  border-radius: 50px;
}

.edit-password span {
  font-weight: 400;
  font-size: 14px;
  line-height: 17.18px;
}

.edit-password .card {
  border-radius: 50px;
}
