.home-container {
  width: 100%;
  background-color: #f5f5f5;
  margin: 0;
}

.home-container h3 {
  color: blue;
  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
}

#activist1 {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  color: white;
  font: 700 13px monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top, blue, transparent),
    url("/assets/img/activist1.png") no-repeat top center;
  margin: 0 auto;
  flex-direction: column;
  line-height: 15.95px;
  padding-top: 40px;
}
#activist2 {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  color: white;
  font: 700 13px monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top, blue, transparent),
    url("/assets/img/activist2.png") no-repeat top center;
  margin: 0 auto;
  flex-direction: column;
  line-height: 15.95px;
  padding-top: 40px;
}
#activist3 {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  color: white;
  font: 700 13px monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top, blue, transparent),
    url("/assets/img/activist3.png") no-repeat top center;
  margin: 0 auto;
  flex-direction: column;
  line-height: 15.95px;
  padding-top: 40px;
}

#activist1 img,
#activist2 img,
#activist3 img {
  width: 10px;
}
