.mobilizer-profile {
  background: linear-gradient(0deg, white, blue);
}
.feed2 {
  position: relative;
  /* overflow: hidden; */
  width: 80%;
  height: 80vh;
  padding: 0 !important;
  min-height: 80vh !important;
  scroll-snap-align: start;
  margin: 60px auto;
}
.feed2 video {
  border-radius: 30px;
}
.feed2 h3 {
  font-size: 35px;
  font-weight: 700;
  line-height: 40px;
}

.feed2 p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.feed2 #whiteBtn {
  font-size: 18px;
  font-weight: 500;
  line-height: 22.09px;
}

.feed2 a {
  font-size: 16px;
  font-weight: 400;
  text-decoration: underline;
}

.feed2 .play-btn {
  top: 35% !important;
}
.card-img-overlay {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: flex-end;
}

.card .card-img-overlay {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 19px!important;
}

.card-img-overlay h2 {
  font-size: 35px;
  font-weight: 700;
  line-height: 40px;
  text-align: start;
}

.card-img-overlay span {
  font-size: 16px;
  font-weight: 700;
  line-height: 19.63px;
}

.card-img-overlay p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: start;
}

#social-btn-container3 div {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.social-btn2 {
  background-color: white !important;
  border: unset !important;
  padding: 10px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.mobilizer-profile .card {
  border-radius: 26px;
}