.mobilizer-profile {
  background: linear-gradient(0deg, white, blue);
}

.card-img-overlay {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: flex-end;
}

.card .card-img-overlay {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 26px;
}

.card-img-overlay h2 {
  font-size: 35px;
  font-weight: 700;
  line-height: 40px;
}

.card-img-overlay span {
  font-size: 16px;
  font-weight: 700;
  line-height: 19.63px;
}

.card-img-overlay p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: start;
}

#social-btn-container3 div {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.social-btn2 {
  background-color: white !important;
  border: unset !important;
  padding: 10px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.mobilizer-profile .card {
  border-radius: 26px;
}