#mobilizer-filter {
  background: url("/assets/img/bg1.png") no-repeat top center;
}

#scope-filter {
  background: url("/assets/img/bg2.png") no-repeat top center;
}

#region-filter {
  background: url("/assets/img/bg3.png") no-repeat top center;
}
