#mobilizer-filter {
  background: url("/assets/img/bg1.png") no-repeat center center;
  background-size: cover;
  display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#scope-filter {
  background: url("/assets/img/bg2.png") no-repeat center center;
  background-size: cover;
  display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#region-filter {
  background: url("/assets/img/bg3.png") no-repeat center center;
  background-size: cover;
  display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#filters{
  height: calc(100vh - 166px);
}

.serach-filters-container{
  padding-bottom: 0!important;
}
