.Profile {
    min-height: 100vh;
}



.ProfileImage-Elijah {
    position: relative;
    width: 64.07px;
    height: 64.07px;
    background: url("../Profile/ProfileAssets/ProfileImage.svg");
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    border: solid 3px white;
}


.ProfileImage-Julieta {
    position: relative;
    width: 64.07px;
    height: 64.07px;
    background: url("../Profile/ProfileAssets/Julieta.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    border: solid 3px white;
}


.ProfileImage-Jessica {
    position: relative;
    width: 64.07px;
    height: 64.07px;
    background: url("../Profile/ProfileAssets/jessica.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    border: solid 3px white;
}


.ProfileImage-Juan {
    position: relative;
    width: 64.07px;
    height: 64.07px;
    background: url("../Profile/ProfileAssets/ProfileImage.svg");
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    border: solid 3px white;
}

.ProfileImage-Anuna {
    position: relative;
    width: 64.07px;
    height: 64.07px;
    background: url("../Profile/ProfileAssets/ProfileImage.svg");
    background-size: cover;
    background-position: center;
}




header {
    background: linear-gradient(180deg, #0000FF 0%, #FFFFFF 137.53%);
} 

.VideoContent {
    width: 141px;
    height: 210px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
}


.switchContainer {
    background-color: white;
    height: 58px;
}

.switch {
    background-color: transparent;
    border: none;
}



.card .more-btn {
    background-color: white;
    border-radius: 3050px;
    border: 1px solid #FFFFFF;
    width: 285px;
    height: 66px;
    color: #0000FF;
}

.more-btn {
    margin-bottom: 29px;
    margin-top: 29px;
}

.mid-btn {
    margin-top: 0px;
    margin-bottom: 0px;
}
#profile .logo {
    padding-left: 50px;
}

.navbar {
    margin-bottom: 13px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.ProfileTitle {
    font-family: 'Seravek';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 22px;
text-align: center;
color: #FFFFFF;
margin-bottom: 8px;
margin-top: 5.28px;
}

.Profilesubtitle {
    font-family: 'Seravek';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-right: 6.25px;
    color: #FFFFFF;
    margin-bottom: 8px;

}

.Profilelocation {
    font-family: 'Seravek';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 15px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;
margin-bottom: 8px;


}

.ProfileDesc {
    font-family: 'Seravek';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    width: 203px;
    color: #FFFFFF;
    
}

#profilesubicon {
    margin-top: -8px;
}

ul.socialMediaIcons {
    list-style: none;
}

.socialIcon.mid {
    margin-left: 25.42px;
    margin-right: 25.42px;
}

.ml-f {
    margin-left: 40px;
}

.switch {
    font-family: 'Seravek';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
}

.switch-r {
    color: #0000FF;
    
}


.switch-btn-icon {
    margin-right: 8px;
}