#background-video {
  height: 40vh;
  width: 100%;
  object-fit: contain;
}

@media screen and (max-width: 800px) {
  #background-video {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.text-box {
  color: blue;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 40px;
}

.text-box p {
  text-align: start;
  font-family: seravek;
  font-style: italic;
}

.text-box h3 {
  color: blue;
  font-family: seravek;
  font-style: italic;
}

.btn-width {
  width: 40%;
}

.custom-font {
  font-family: seravek;
  font-style: italic;
  font-weight: bold;
}

.blue-text {
  color: blue !important;
}
.custom-icon-size {
  width: 50px !important;
  height: 50px !important;
}
@media screen and (max-width: 400px) {
  .btn-width {
    width: 70%;
  }

  #mobilizerVictories .center-div {
    width: 100%;
  }
  #activistCampaigns .center-div {
    width: 100%;
  }
  .custom-icon-size {
    width: 35px !important;
    height: 35px !important;
  }
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.md-icon {
  width: 40px;
  height: 40px;
}

.white-divider {
  background-color: white !important;
  opacity: unset;
}

#mobilizerVictories .modal-content {
  background-color: #0000ffe5 !important;
  opacity: 90%;
}
#activistCampaigns .modal-content {
  background-color: #0000ffe5 !important;
  opacity: 90%;
}

.cardCapsule #mobilizerVictories .modal-content {
  background: linear-gradient(0deg, rgb(162, 174, 241), #0000ffe5) !important;
  opacity: 90%;
}
.cardCapsule #activistCampaigns .modal-content {
  background: linear-gradient(0deg, rgb(162, 174, 241), #0000ffe5) !important;
  opacity: 90%;
}
.text-small,
.text-xsmall {
  font-weight: 100;
}

#supportMobBtn {
  background-color: blue !important;
}

.profil-img {
  width: 100px !important;
  height: 100px;
  object-fit: cover;
}

.next-previous {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding: 10px 20px;
  width: 100%;
}
.next-previous a {
  flex-grow: 1;
}
