.card-main-custom {
  display: flex !important;
  justify-content: space-evenly !important;
  align-items: center !important;
}

.in-custom,
.card-number-custom {
  display: flex !important;
  flex-direction: column !important;
  align-items: flex-start !important;
}

.wallet-card-custom {
  background: none !important;
  box-shadow: none !important;
  border-radius: unset !important;
  position: unset !important;
  z-index: unset !important;
  padding: 0px 20px !important;
}
.wallet-footer-custom {
  display: flex !important;
  align-items: flex-start !important;
  justify-content: space-between !important;
  border: none !important;
}

.card-number-custom strong {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  padding-bottom: 5px;
}

.icon-wrapper-custom {
  border-radius: 50% !important;
}

ul {
  color: blue !important;
}

li {
  padding: 20px 0;
  text-align: left;
}
.text-title {
  padding-top: 30px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  color: blue;
}

.left-right-padding {
  padding: 0 30px;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: 0 auto;
}

.center-div {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 30px;
}

.itemList {
  display: flex;
  align-items: flex-end;
}

.itemList span {
  text-align: right;
}

.largeText {
  font-size: large;
}

.icon-title {
  height: 100px;
  width: 150px;
}
.icon-logo {
  height: 50px;
  width: 250px;
}
.round-blue-div {
  text-align: center;
  width: 50px;
  height: 50px;
  background: blue;
  padding: 10px;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 20px;
}
.link-size {
  font-size: 14px;
}
@media screen and (max-width: 600px) {
  .text-title {
    font-size: 24px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .link-size {
    font-size: 14px;
  }
}
@media screen and (max-width: 400px) {
  .icon-title {
    height: 50px;
    width: 100px;
  }
  .icon-logo {
    height: 50px;
    width: 150px;
  }
  .card-number-custom strong {
    font-size: 15px;
    padding-bottom: 5px;
  }
  .card-main-custom {
    flex-direction: column !important;
  }
  .in-custom,
  .card-number-custom {
    align-items: center !important;
  }
  .center-div,
  .text {
    width: 80%;
  }
  .text-title {
    font-size: 20px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .left-right-padding {
    padding: 0 5px;
  }
  .card-number-custom {
    margin-bottom: 10px !important;
  }
  .round-blue-div {
    width: 35px;
    height: 35px;
    font-size: 16px;
  }
  .link-size {
    font-size: 12px;
  }
}
@media screen and (max-width: 300px) {
  .link-size {
    font-size: 10px;
  }
}
