.social-btn {
  padding: 0 !important;
  background-color: blue !important;
  line-height: 1em !important;
}

.social-btn-dark,
.social-btn-dark:hover,
.social-btn-dark:focus {
  padding: 0 !important;
  background-color: #191919 !important;
  opacity: 90%;
  line-height: 1em !important;
  border: unset !important;
}

.social-btn-title {
  font-size: 12px;
  font-weight: 700;
  line-height: 14.72px;
}

.top-border-radius {
  border-radius: 20px 20px 0 0 !important;
}

.close-modal-btn {
  color: blue;
  width: 17px;
  height: 17px;
}

.flex-end {
  justify-content: flex-end;
  display: flex;
}
.flex-col-center {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.modal-header {
  border: unset !important;
}

.no-border-radius {
  border-radius: unset !important;
}
