.btn-section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.btn-section button {
  padding: 0 40px;
}

.box-bg {
  background-image: url("/assets/img/bg1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.white-text {
  color: white!important;
}

.center-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

b {
  font-weight: bold !important;
}

.hero-mobilizers-logo {
  width: 200px;
  height: 100px;
}
.black-text {
  color: black;
}

.center-column-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
}
@media screen and (max-width: 400px) {
  .btn-section button {
    padding: 3px 24px;
  }
  .hero-mobilizers-logo {
    width: 150px;
    height: 50px;
  }
  .center-column-content h1 {
    font-size: 20px;
    margin: 0;
  }
  .title-sm {
    font-size: 24px;
  }
}
@media screen and (max-width: 300px) {
  .btn-section button {
    height: 28px;
    padding: 0px 6px;
    font-size: 12px;
  }
}

.bg-g-1{
  background: linear-gradient(0deg, white, #EDEDF5);
}