.btn-round {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

#background-image {
  width: 100%;
  max-height: 50vh;
}

.bg-g{
  background: linear-gradient(0deg, rgb(162, 174, 241), blue);
}

.custom-width{
  width: 70%;
}