.btn-round {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

#background-image {
  width: 100%;
  max-height: 50vh;
}

.bg-g {
  background: linear-gradient(0deg, rgb(162, 174, 241), blue);
}

.custom-width {
  width: 70%;
}

.title-font {
  font-family: Seravek;
  font-weight: bold;
}

.home-video {
  width: 80%;
  border-radius: 20px;
}

@media screen and (max-width: 400px) {
  .home-img {
    width: 200px;
  }
  .font-size-btn {
    font-size: 14px;
  }
  .home-video {
    width: 100%;
    border-radius: 20px;
  }
}
