.image-listview > li a.item:after {
  content: unset;
}

#menu .item {
  min-height: unset !important;
}

#menu .listview small {
  color: #8c8c8c;
  font-size: 14px;
  line-height: 19px;
  font-weight: 400 !important;
}

#menu h5 {
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
}
.log:hover {
  text-decoration: underline;
  text-decoration-color: "#0000ff";
}
#menu .listview div {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  text-align: start;
}

#menu h6 b {
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
}

#menu h6 {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

#menu img {
  width: 32px !important;
}




.modal-content {
  width: 100wv;
}

.in.blue {
  font-family: 'Seravek';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
.modal-body {
  margin-top: -1rem;
}

 .xicon {
  margin-top: 4rem;
}


