.extraHeader2 {
  background-color: transparent !important;
  height: max-content;
  display: flex;
  flex-direction: column;
}

.extraHeader2 a {
  text-decoration: underline;
  color: white;
  font-size: 15px;
  font-weight: 500;
  font-style: italic;
  line-height: 18.4px;
}

.extraHeader2 ::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  text-align: center;
}

.item strong {
    font-size: 16px;
    font-weight: 700;
    line-height: 19.63px;
}

.item p {
    font-size: 13px;
    font-weight: 400;
    line-height: 15.95px;
    margin-bottom: 0;
}
