.custom-badge {
  padding: 20px 30px !important;
  font-size: 20px !important;
  background-color: black !important;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.custom-badge-white {
  padding: 20px 30px !important;
  font-size: 20px !important;
  background-color: white !important;
  color: black !important;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.center-div-2 {
  width: 70%;
  margin: 0 auto;
}
.xsmall-font {
  font-size: 12px;
}
@media screen and (max-width: 400px) {
  .small-font {
    font-size: 22px !important;
  }
  .custom-padding {
    padding-left: 0;
    padding-right: 0;
  }
  .center-div-2 {
    width: 90%;
  }
  .xsmall-font {
    font-size: 10px;
  }
}

@media screen and (max-width: 300px) {
  .small-font {
    font-size: 18px !important;
  }
}

.center-content {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.fw-7 {
  font-weight: 700;
}

.fw-bold {
  font-weight: bold;
}

.flex {
  display: flex;
}

.br-30 {
  border-radius: 30px;
}

#counter div {
  border-right: 1px solid;
}

.btn-round-white {
  width: 50px !important;
  height: 50px !important;
  background-color: white !important;
}
.btn-round-black {
  width: 50px !important;
  height: 50px !important;
  background-color: black !important;
}
