@font-face {
  font-family: 'Seravek';
  src: local('Seravek'), url(./Assets/Fonts/Seravek.ttf) format('truetype');
}
@font-face {
  font-family: 'Seravek';
  src: local('Seravek'), url(./Assets/Fonts/Seravek.ttf) format('truetype');
  font-style: normal;
  font-weight: 400;
}


@font-face {
  font-family: 'Seravek';
  src: local('Seravek'), url(./Assets/Fonts/Seravek.ttf) format('truetype');
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: 'Seravek';
  src: local('Seravek'), url(./Assets/Fonts/Seravek.ttf) format('truetype');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Seravek';
  src: local('Seravek'), url(./Assets/Fonts/Seravek-Medium.ttf) format('truetype');
  font-style: normal;
  font-weight: 500;
}


@font-face {
  font-family: 'Seravek';
  src: local('Seravek'), url(./Assets/Fonts/Seravek-Bold.ttf) format('truetype');
  font-style: bold;
  font-weight: 700;
}


@font-face {
  font-family: 'Seravek';
  src: local('Seravek'), url(./Assets/Fonts/Seravek-Bold.ttf) format('truetype');
  font-style: normal;
  font-weight: 700;
}


body{
  font-family: 'Seravek'!important;
}




body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Seravek';

}

html,body {
  margin:0!important;
  padding:0!important;
  overflow-x:hidden!important;
}
